[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.0.2"
flask-restx = "==0.5.1"
pyyaml = "==6.0"
werkzeug = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.10"
